:root {
	--text-color: #E6F4F1;
	--background-color: #393939;
	--nav-text-color: #E6F4F1;
	--nav-background-color: #232323;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--text-color);
	background-color: var(--background-color);

	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.5;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

fieldset {
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 0;
}

.flex-container {
	display: flex;
	justify-content: center;
}

/* Hiding via display: none or visibility: hidden might hide elements from screen readers. */
.visually-hidden {
	border-width: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	white-space: nowrap !important;
	width: 1px !important;
}